@import "lib/govuk-frontend/govuk/base";
@import "lib/govuk-frontend/govuk/core/typography";
@import "lib/govuk-frontend/govuk/core/links";
@import "location-autocomplete.min";

$govuk-global-styles: true;

// ----------------
// Hide the back link when body does not have .js-enabled
//
// ----------------

body:not(.js-enabled) {
    .govuk-back-link {
        display: none;
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

// ----------------
// Trusts Add-to-list pattern as a 4th column
// this ensures the second column moves down correctly underneath on mobile devices
// ----------------

@include govuk-media-query($until: desktop) {
  .hmrc-add-to-a-list__identifier__second {
    position: absolute;
    top: inherit;
    left: 0;
  }
}

// Fallback break for long names and provides padding between the name and type label (change link on mobiles)
.hmrc-add-to-a-list__identifier__first {
    word-break: break-all;
    padding-right: govuk-spacing(4)
}

// ----------------
// HMRC Add-to-list pattern - wrapping for unbreakable text
// taken from govuk-frontend summary list
// https://github.com/alphagov/govuk-frontend/blob/main/src/govuk/components/summary-list/_index.scss#L47
// ----------------
.hmrc-add-to-a-list__identifier {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

p {
  @extend .govuk-body;
}

a {
    @extend .govuk-link;
}

h2 {
 @extend .govuk-heading-m
}