// From https://github.com/alphagov/govuk_frontend_toolkit/blob/03204449dcbf28c2d48e7f6dd217f6abe9b3a518/stylesheets/colours/_palette.scss

$blue: #005ea5;
$grey-1: #6f777b;
$grey-2: #bfc1c3;
$border-colour: $grey-2;